server {
    listen      80;
    server_name localhost;

    location / {
        root    /usr/share/nginx/html;
        index   ${DEPLOYED_ENV}.html;
    }

    location /healthz {
        return  204;
    }
}
